[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
djangorestframework = "*"
python-decouple = "*"
redis = "*"
django = "==2.2.28"

[requires]
python_version = "3.6"
